.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.wrapper {
  display: inline;
  width: 1320px;
  padding: 20px;
}

.modalOpen {
  width: 500px;
  height: 500px;
  background-color: white;
  z-index: 1000;
  color: black;
}
