.wrapper {
  background-color: white;
  border-radius: 6px;
  max-width: 750px;
  margin-top: 5px;
  color: rgba(40, 44, 52, 0.6);
}

.list {
  padding-left: 10px;
  &Item {
    list-style: none;
    text-align: left;

    &:hover {
      opacity: 0.5;
    }
  }
}
